APP_ENV=development
HTTP_ADDR=:8080
DATABASE_DSN=root:admin123@tcp(127.0.0.1:3306)/pennywise?parseTime=true&multiStatements=true
HOUSEHOLD_ID=1
HOUSEHOLD_BASE_CURRENCY=INR
DEV_AUTH_USER_ID=0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback
PUBLIC_DIR=public
ADMIN_EMAIL=sunil4skamath@gmail.com
JWT_SECRET=change-me
COOKIE_SECURE=false
EXCHANGE_RATE_API_URL=https://open.er-api.com/v6/latest
